<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>terceraDetalle</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tercera"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="{{persona.foto}}" alt="imagen de la persona">
    <ion-card-header>
      <ion-card-subtitle>Nombre</ion-card-subtitle>
      <ion-card-title>{{persona.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      id: {{persona.id}}<br>
      nombre: {{persona.nombre}}
    </ion-card-content>
  </ion-card>
<!-- ejercicio 17: agregar 2 botones x o ❤ y enviar mensaje con
 toast y alertController
  -->
</ion-content>
