<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="number" [(ngModel)]="numero1">
  <ion-button (click)="abrirPagina()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    navegate
  </ion-button>
  <ion-button (click)="abrirPagina2()">
    <ion-icon slot="icon-only" name="arrow-redo-outline"></ion-icon>
    navegate by url
  </ion-button>
</ion-content>
