<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
    <ion-list-header color="primary">
      <ion-label>Menú de app</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-button [routerLink]="['/uno']">Página uno: lista y botones</ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button [routerLink]="['/dos']">Página dos: boton back</ion-button>
    </ion-item>

    <ion-item>
      <a href="/tres">Ver input's</a>
    </ion-item>
    <br><br><br>

    <ion-item>
      <a href="/cuatro">Ver tarjetas</a>
    </ion-item>

    <ion-item>
      <ion-button [routerLink]="['/cinco']" size="large" shape="round" color="danger">
        Alertas
        <ion-icon slot="end" name="alert-circle"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <a href="/seis">| Grilla, atributos y mostrar datos |</a>
    </ion-item>
<br>
    <ion-item>
      <a href="/siete">|| Directivas atributos y Toast ||</a>
    </ion-item>
  </ion-list>
</ion-content>
