<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ocho</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    <ion-fab-button href="https://google.cl"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

</ion-content>
