<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuatro</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Florianópolis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playa con aguas turquesas, selva tropical y fabella.
      Hotel 5 estrellas, all inclusive.
      Tour a la ciudad y playas cercanas.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Rio de Janeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playa con aguas turquesas, selva tropical y fabella.
      Hotel 3 estrellas, pan con miga y palomas asadas.
      Tour a la ciudad y playas cercanas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/playaBuzios.jpg" alt="playa">
    <ion-card-header>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      <ion-card-title>Rio de Janeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Playa con aguas turquesas, selva tropical y fabella.
      Hotel 3 estrellas, pan con miga y palomas asadas.
      Tour a la ciudad y playas cercanas.
    </ion-card-content>
    <a href="https://www.despegar.cl/trip/accommodations/results/PC5b519381115f4118b09d94441ec7e0bd28747845?searchParams=RkgvQ0lUXzY2MjQvQ0lUXzEwNzcvMjAyNC0wOC0yOS8yMDI0LTA5LTA4L0NJVF8xMDc3LzIwMjQtMDgtMjkvMjAyNC0wOS0wOC8yfEgxOkgsRjA6RixYUzpYUw%3D%3D&flow=FH&tripItem=H1&stepNum=0&from=PSB&from=PSB&reSearch=true&searchId=c3df9d5e-9d51-43fc-a00c-c3557fab8b1c&nw=true&tp=eyJJbnMiOjE3MjQ4NzA3MzYyNTcsIklyIjoxNTI2OH0%3D">Ver oferta</a>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Card</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>