<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-list-header color="success">
      <b><ion-label>Hardware</ion-label></b>
    </ion-list-header>

    <ion-item>
      <ion-label>CPU</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Memoria</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>HDD/SDD/M2</ion-label>
    </ion-item>

  </ion-list>

  <h1>Botones</h1>
  <ion-button>Aceptar</ion-button>
  <ion-button expand="block">Aceptar</ion-button>
  <ion-button shape="round">Aceptar</ion-button>
  <ion-button fill="outline">Aceptar</ion-button>
  <br>
  <ion-button size="small">Aceptar</ion-button>
  <ion-button size="large">Aceptar</ion-button>

  <ion-button color="danger">Aceptar</ion-button>
  <ion-button color="success">Aceptar</ion-button>
  <ion-button color="warning">Aceptar</ion-button>
  <ion-button color="medium">Aceptar</ion-button>
  <ion-button color="dark">Aceptar</ion-button>
  <ion-button color="tertiary">Aceptar</ion-button>

  <!-- ionic snippet-->
  <ion-button>
    Sumar
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-button>
    Eliminar
    <ion-icon slot="end" name="remove"></ion-icon>
  </ion-button>

  <ion-button>
    Eliminar
    <ion-icon slot="start" name="remove"></ion-icon>
  </ion-button>

  <ion-button>
    sumar 2
    <ion-icon slot="end" name="add-circle"></ion-icon>
  </ion-button>
  <ion-button>
    sumar 2
    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>

  <ion-button expand="block" fill="outline" shape="round" color="danger">
    Click me
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer incluido</ion-title>
  </ion-toolbar>
</ion-footer>


