<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>Numero 1</ion-label>
  <ion-input type="number" placeholder="Ingrese numero 1"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Numero 2</ion-label>
  <ion-input type="number" placeholder="Ingrese numero 2"></ion-input>
</ion-item>
<ion-button expand="block" fill="outline" shape="round">Sumar</ion-button>
<ion-button expand="block" fill="outline" shape="round">Dividir</ion-button>
</ion-content>
